


/*============== Klientet =============*/

.klientet .image img {
    width: 1000px;
    position: relative;
    z-index: 10;
}
.klientet .styled-table {
    position: relative;
    bottom: 60px;
    z-index: 50;
}

.shtoModifikoKlient .image {
    margin-top: 100px;
}

.shtoModifikoKlient .butonat {
    display: flex;
}
.shtoModifikoKlient .butonat a {
    margin: 5px;
}


/*============== Klientet =============*/


/*============== Porosit =============*/

.list-entity,
.sectionporosit {
    margin-top: 50px!important;
    margin: 10px auto;
    display: flex;
    justify-content: center;


}

.image img {
    width: 1000px;
    height: 350px;
    object-fit: cover;
}

.image {
    position: relative;
    z-index: 5;
}
.styled-table {
    border-collapse: collapse;
    margin: 46px 0;
    font-size: 18px;
    font-family: sans-serif;
    min-width: 1000px;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #038da3;
    color: #ffffff;
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: center!important;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #9eb9473f;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #a5c639a2;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #a5c639a2;
}

#add_entity{
    text-decoration: none;
    border: none;
    padding: 10px;
    background: #088178;
    color: white;
    font-size: 17px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.4s ease;
}

#add_entity:hover,
.btn-filtro:hover {
    background: white;
    color: #088178;
}

/*============== Porosit =============*/

.forma {
    width: 70%;
    margin: 0 auto;
    /*position: relative;*/
    /*z-index: 10;*/
}
.forma h1 {
    font-size: 21px;
    color: #000;
    margin-bottom: 20px;
}

.forma input,
.forma textarea  {
    width: 330px;
    padding: 5px;
    margin-top: 4px;
    border-radius: 5px;
    outline: none;
    border-color: #000;
}

.forma input,
.forma textarea {
    caret-color: black;
}

select {
    width: 513px;
    padding: 5px;
    margin-top: 4px;
    border-radius: 5px;
    outline: none;
}

.forma label {
    color: #000;
    font-size: 20px;
}

.forma .inputAndLabels {
    margin: center;
    margin-bottom: 5px;
}

.shtoModifiko {
    text-decoration: none;
    border: none;
    padding: 10px;
    background: #000;
    color: white;
    font-size: 17px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.4s ease;
}
.fshijperdorues{
    text-decoration: none;
    border: none;
    padding: 10px;
    background: #a4c639;
    color: white;
    font-size: 17px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.4s ease;

}

.kategorite .styled-table {
    position: relative;
    bottom: 40px;
}

.kategorite .styled-table th,
.styled-table td {
    text-align: left;
}

.btn-filtro {
    border: none;
    padding: 5px 10px;
    background: #a4c639;
    color: white;
    font-size: 17px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.4s ease;
    margin-left: 20px;
}

.list-entity .filter {
    width: 100%;
    display: flex;
    justify-content: end;
}


/* SHTONI PRODUKTE */
.forma1 {
    width: 70%;
    margin: 0 auto;
    /*position: relative;*/
    /*z-index: 10;*/
}
.forma1 h1 {
    font-size: 21px;
    color: #000;
    margin-bottom: 20px;
}

.forma1 input,
.forma1 textarea  {
    width: 330px;
    padding: 5px;
    margin-top: 4px;
    border-radius: 5px;
    outline: none;
    border-color: #000;
}

.forma1 input,
.forma1 textarea {
    caret-color: black;
}

select {
    width: 330px;
    padding: 5px;
    margin-top: 4px;
    border-radius: 5px;
    outline: none;
}

.forma1 label {
    color: #000;
    font-size: 20px;
}

.forma1 .inputAndLabels {
    margin: center;
    margin-bottom: 5px;
}
.tekstiproduktet{
    text-align: center;
}